@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-size: 16px;
	font-family: Inter;
	background-color: #e7f6ff;
}

* {
	font-family: inherit;
}

.wrapper {
	max-width: 1080px;
	margin: 50px auto;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}

.content {
	padding: 45px;
}

.header {
	.slogan {
		color: #9d9d9d;
	}

	.menu {
		color: #5c5c5c;
	}
}

.cardItem {
	padding: 20px 29px 34px 29px;
	border-radius: 20px;
	width: 210px;
	.title {
		font-size: 14px;
	}
	.priceTitle {
		font-size: 11px;
		line-height: 0.5;
	}
	.price {
		font-size: 14px;
	}
}

.cardSkeleton {
	padding: 20px 29px 0 29px;
	border-radius: 20px;
	width: 210px;
}

.overlay {
	background: rgba(0, 0, 0, 0.45);
}

.drawer {
	width: 385px;
	.cartImage {
		width: 70px;
		height: 70px;
	}
	.cartInfo {
		max-width: 160px;
	}
}

.primaryBtn {
	background: #9dd458;
	&:hover {
		background: #abe069;
	}
}

.customBtn {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	transition: all 0.2s ease;
	path {
		transition: all 0.2s ease;
	}
	&:not(.active):hover {
		border-color: #9b9b9b;
	}
}

.favoritesBtn {
	&:not(.active):hover {
		path {
			stroke: #9b9b9b;
		}
	}
	&.active {
		border-color: #fef0f0;
		background-color: #fef0f0;
		path {
			stroke: #ff8585;
			fill: #ff8585;
		}
	}
}

.cartItemToggleBtn {
	&:not(.active):hover {
		path {
			fill: #9b9b9b;
		}
	}
	&.active {
		border-color: transparent;
		background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
	}
}

.closeBtn {
	&:hover {
		path {
			fill: #9b9b9b;
		}
	}
}

.main-color {
	color: #9dd458;
}
